
// grid to align items nicely with 2 columns in each row
.mat-card {
    display: grid;
    grid-template-columns: 2;
    background-color: lightblue;
    border-radius:  15px;
    border-style: solid;
    border-width: 5px;
    border-color: lightpink;
    max-width: 25vw;
    min-width: 300px;
    margin: 15px;
    box-shadow: 2px 2px 3px lightcoral;
}
// grid to take spaces of two row on second column
.mat-icon{
    margin-left: auto;
    grid-column-start: 2;
    grid-row: span 2;
    color: lightcoral;
    padding: 5px;
}
// to have place in bottom 5th and whole row
.mat-slider{
    grid-column-start: 5;
    grid-column: span 2;
    color: lightcoral;
}

// to take place at first column
.mat-card-title{
    grid-column-start: 1;
}